<a href="https://colab.research.google.com/github/themadan/.python/blob/master/2_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [**5. Data Structures**](https://docs.python.org/3/tutorial/datastructures.html)

CRUD rule

C=create

R= read

U=update

D=delete

### **5.1 modules on Lists(list is sequence)**

In [ ]:
l=['a','b','c','d','e']
l1=['extend list','extensed list1','a']


l.append('append at last') # Add an item to the end of the list. Equivalent to a[len(a):] = [x].
print(l)

l.extend(l1) #Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.
print(l)

l.insert(1,"insert at 1 position")# Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).
print(l)

l.remove('a') #Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.
print(l)

popelement=l.pop(1) # Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list.
print(popelement)

index=l.index('c',0,len(l)) # element - the element to be searched
print(index)               # start (optional) - start searching from this index
                            # end (optional) - search the element up to this index

count=l.count('e') #Return the number of times x appears in the list.
print(count)

l.sort() #Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).
print(l)

l.reverse()#Reverse the elements of the list in place.
print(l)

copy=l.copy() #Return a shallow copy of the list. Equivalent to a[:].
print(copy)

l.clear() #Remove all items from the list. Equivalent to del a[:].
print(l)

['a', 'b', 'c', 'd', 'e', 'append at last']
['a', 'b', 'c', 'd', 'e', 'append at last', 'extend list', 'extensed list1', 'a']
['a', 'insert at 1 position', 'b', 'c', 'd', 'e', 'append at last', 'extend list', 'extensed list1', 'a']
['insert at 1 position', 'b', 'c', 'd', 'e', 'append at last', 'extend list', 'extensed list1', 'a']
b
1
1
['a', 'append at last', 'c', 'd', 'e', 'extend list', 'extensed list1', 'insert at 1 position']
['insert at 1 position', 'extensed list1', 'extend list', 'e', 'd', 'c', 'append at last', 'a']
['insert at 1 position', 'extensed list1', 'extend list', 'e', 'd', 'c', 'append at last', 'a']
[]

#### **5.1.1 Using Lists as Stacks**

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/stack.png)

In [ ]:
stack=[1,2,3,4,5] #stack

In [ ]:
stack.append(6) # push
stack.append(7)
print(stack)

[1, 2, 3, 4, 5, 6, 6, 7]

In [ ]:
item=stack.pop()# pop
print(item)

7

#### **5.1.2 Using lists as Queues**

![alt text](https://upload.wikimedia.org/wikipedia/commons/5/52/Data_Queue.svg)

In [ ]:
from collections import deque

queue=deque(['first','second','third','fourth','fifth'])

In [ ]:
queue.append('sixth') # Enqueue

print(queue)

deque(['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'sixth'])

In [ ]:
item=queue.popleft() # Dequeue
print(item)

first

#### **5.1.3 list comprehensions**



```
[expresion for variable in iterator condition]
```

List comprehensions provide a concise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
squares=[]            # general way to create list
for x in range(10):
  squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares1 = list(map(lambda x: x**2, range(10))) # list function to create list

squares1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares2=[x**2 for x in range(10)] # [expresion for x in iterator condition] , 
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Note: Nested loop in comprehensions list

In [ ]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
r=[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]  # execute from left to right
r

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

Explination: 

move from left to right

1. First loop bata x=1 set hunxa
2. Second loop bata y=3 hunxa 
3. Condition check if 1!=3 jo true hunxa then body execute hunxa
4. Body execute hunxa (1,3) hunxa 

5. Second loop bhanda agadi ko aba jammai body hunxa ra second loop continue hunxa.

#### **5.1.4 Nested List Comprehensions**

The initial expression in a list comprehension can be any arbitrary expression, including another list comprehension.



```
[[expresion for variable in iterator condition] for variable in iterator condition]
```

In [ ]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
    [9, 10, 11, 12],
 ]

In [ ]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### **5.2 The del statement**

* pop return value but del delete value 
* In del we can delete slice(range) of value.

In [ ]:
a=[1,2,3,4,5,6,7]

del a[0]
print(a)

[2, 3, 4, 5, 6, 7]

In [ ]:
del a[1:3]
print(a)

[2, 5, 6, 7]

In [ ]:
del a
print(a)

NameError: ignored

### **5.3 Tuples and Sequences(Tuple is sequence)**

* Tuple is Imutable (append and update garna mildaina)

* Tuples are unchangeable, For Delete(remove) in tuple first we convert tuple into list then remove,  we can't remove directly

In [ ]:
a=1,2,3,4,5,6 #tuple C=create

print(a)

(1, 2, 3, 4, 5, 6)

In [ ]:
print(a[0]) # R=read

1

In [ ]:
a.append(7) # U=update imutable

AttributeError: ignored

In [ ]:
a[0]=0 # imutable

TypeError: ignored

In [ ]:
a=(1,2,'madan')

In [ ]:
#tuple may be nested

a=1,2,3,4,5

c=a,(6,7,8,9)

print(c)

((1, 2, 3, 4, 5), (6, 7, 8, 9))

In [ ]:
#unpacking is also support

a=1,2,3

b,c,d=a #unpacking

print(b)

1

In [ ]:
#unpacking is also support

a=1,2,3

b,c,d,e=a #unpacking

print(b)

ValueError: ignored

In [ ]:
singleton = 'hello',    # <-- note trailing comma

print(len(singleton))
print(singleton)

1
('hello',)

### **5.4 Sets(Sets is not sequence)**

* Sets key point is no duplicate elements

* Support mathematics operations like union,intersection,difference,..

* We can't access items in set by referring to an index
   
      Note: Sets are unordered, so you cannot be sure in which order the items will appear.

* Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
f={1,2,3,4,5,6,7,8,9} # C=create

In [ ]:
f[0] # R=read  , you can't access items in a set

TypeError: ignored

In [ ]:
for i in f: #read 
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
f[0]=0 #update

TypeError: ignored

In [ ]:
f.add(0) # U=update ,To add one item to a set use the add() method.
print(f)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
f.update(["orange", "mango", "grapes"]) #To add more than one item to a set use the update() method.
print(f)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'orange', 'mango', 'grapes'}

In [ ]:
f.remove(1) # D=Delet
print(f)

{2, 3, 4, 5, 6, 7, 8, 9, 'orange', 'mango', 'grapes'}

In [ ]:
f.discard(3)
print(f)

{2, 4, 5, 6, 7, 8, 9, 'orange', 'mango', 'grapes'}

In [ ]:
item=f.pop() #Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.
print(item)

4

### **5.5 Dictionaries(dictionary are not sequence they are mapping types)**

Sequence vs dictionary
* Sequence , which are indexed by a range of number, dictionary are indexed by keys.

Dictonary

* keys:values
* Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. 

* You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

* keys are unique

* Performing list(d) on a dictionary returns a list of all the keys used in the dictionary.

* To check whether a single key is in the dictionary, use the in keyword.

In [ ]:
dit={'madan': 'first','tapendra':'second','prakash':'third'}# C=creat

In [ ]:
dit['madan'] #R=read

'first'

In [ ]:
dit['madan']='topper'# U=update
print(dit)

{'madan': 'topper', 'tapendra': 'second', 'prakash': 'third'}

In [ ]:
dit['subritt']='fourth' # U=update  automatically generate key and value

print(dit)

{'madan': 'topper', 'tapendra': 'second', 'prakash': 'third', 'subritt': 'fourth'}

In [ ]:
del dit['madan'] #D=delete

print(dit)

{'tapendra': 'second', 'prakash': 'third', 'subritt': 'fourth'}

In [ ]:
list(dit) #return only keys

['tapendra', 'prakash', 'subritt']

In [ ]:
sorted(dit)

['prakash', 'subritt', 'tapendra']

In [ ]:
dit

{'prakash': 'third', 'subritt': 'fourth', 'tapendra': 'second'}

In [ ]:
dict([('madan', 1), ('tependra', 2), ('subritt', 3)])

{'madan': 1, 'subritt': 3, 'tependra': 2}

In [ ]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [ ]:
dict(madan=1, tapendra=2, subritt=3)

{'madan': 1, 'subritt': 3, 'tapendra': 2}

### **5.6 looping Techniques**

Note: 

* when looping through dictionaries, in for loop we get only key.

* The key and corresponding value can be retrieved at the same time using the items() method.

In [ ]:
na={'madan':'kailali','subritt':'kathmandu','prakash':'bhaktapur'}

In [ ]:
for i in na: # general for loop give 
  print(i)

madan
subritt
prakash

In [ ]:
for k,v in na.items(): # items function
  print(k,v)

madan kailali
subritt kathmandu
prakash bhaktapur

In [ ]:
for k,v in enumerate(['madan','tapendra','prakash']): #enumerate do every item assign numerical value
  print(k,v)

0 madan
1 tapendra
2 prakash

In [ ]:
question=['name','address','country']
answer=['madan','kailali','nepal']

#print(zip(question,answer))
for q,a in zip(question,answer): # 
  print(q,a)

name madan
address kailali
country nepal

### **5.7 More on conditions**

The conditions used in while and if statements can contain any operators, not just comparisons.

### **5.8 Comparing Sequences and other types**

* Sequence objects typically may be compared to other objects with the same sequence type. 

* The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted.

*